# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2013 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@extend
_id:
    creator:
        @legacy(('001', ''), )
        marc, '001', int(value)
    producer:
        json_for_marc(), {'001': ''}

@persistent_identifier(0)
recid:
    """
    Hard link to ```_id```
    """
    schema:
        {'_id': {'type':'integer', 'min': 1}}
    derived:
        @depends_on(('_id', ))
        self['_id']

@extend
modification_date:
    creator:
        @legacy(('005', ''),)
        marc, '005', datetime.datetime(*(time.strptime(value, "%Y%m%d%H%M%S.0")[0:6]))


