# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2013 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@persistent_identifier(0)
_id:
    """
    This is the main persistent identifier of any kind of json and will be
    used internally as this, therefore the pid weight must always be '0'.

    IMPORTANT: this is an ```abstract``` field that has to be redefined for
    each of the different json structures that will use it, either extending it
    or redefining its value on the model.
    """

modification_date, version_id:
    """
    Generic date of the last modification of any kind of json structure.
    """
    schema:
        {'modification_date': {'type': 'datetime', 'required': True, 'default': lambda: __import__('datetime').datetime.now()}}
    json:
        dumps, lambda d: d.isoformat()
        loads, lambda d: __import__('datetime').datetime.strptime(d, "%Y-%m-%dT%H:%M:%S")

creation_date:
    """
    Generic creation date of any kind of json structure.
    """
    schema:
        {'creation_date': {'type': 'datetime', 'required': True, 'default': lambda: __import__('datetime').datetime.now()}}
    json:
        dumps, lambda d: d.isoformat()
        loads, lambda d: __import__('datetime').datetime.strptime(d, "%Y-%m-%dT%H:%M:%S")
